<footer class="footer bg-dark py-3 mt-auto">
    <!-- mt-auto, making the footer to the bottom -->
    <div class="container">
        <span class="text-muted">&copy YelpCamp 2020</span>
    </div>
</footer>